@model IEnumerable<BlogTracker.Models.BlogInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Model.First().EmpEmailId</></h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4">
            <div class="card w-100 h-100 ">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">Date of Creation : @Html.DisplayFor(modelItem => item.DateOfCreation)</p>
                    <p class="card-text">Subjects : @Html.DisplayFor(modelItem => item.Subject)</p>
                    <a href="@Html.DisplayFor(modelItem => item.BlogUrl)" class="btn btn-primary w-75 h-25">@Html.DisplayFor(modelItem => item.BlogUrl)</a>
                    <p class="mt-2"><span><a asp-action="Delete" asp-route-id="@item.BlogId" class="btn btn-danger">Delete</a></span>
                        <span><a asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-info">Edit</a> </span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
